# fly.toml app configuration file generated for mcheat2 on 2025-12-02T19:28:24Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mcheat2'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
